@use 'functions' as *;
@use 'breakpoints' as *;

// font-size
@mixin font-size($size) {
	font-size: calculateRem($size);
}

// clamp font-size medium
@mixin clamp-fs-medium($min-size, $max-size) {
	font-size: clamp(calculateRem($min-size), 2.5vw + 0.5rem, calculateRem($max-size));
}

// clamp font-size small
@mixin clamp-fs-small($min-size, $max-size) {
	font-size: clamp(calculateRem($min-size), 1vw, calculateRem($max-size));
}

// media queries
@mixin device($key) {
	$size: map-get($breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

// hover
@mixin hover {
	@media screen and (hover: hover) {
		@content;
	}
}

// touch -> active
@mixin touch {
	@media screen and (hover: none) {
		@content;
	}
}