@forward 'base/';
@forward 'layout/';
@forward 'utils/';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--primary-color: #ebac3c;
	--background-primary: #343646;
	--background-secondary: #343646;
	--text-primary: #ffffff;
	--text-secondary: #c7c4c4;
}

html {
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
	color: var(--text-primary);
}

p,
span {
	color: var(--text-secondary);
}

/* zone 1 */

figcaption {
	display: none;
}

img {
	display: block;
}

#image {
	max-width: 100%;
}

.hero {
	position: relative;
	display: flex;
	background-color: var(--background-primary);
	align-items: center;
	justify-content: flex-end;
}

.title-container,
.summary {
	position: absolute;
	width: 50%;
}

.title-container {
	top: 15%;
}

.under-title {
	color: var(--primary-color);
	font-size: 3rem;
	letter-spacing: 1rem;
}

#title {
	color: var(--text-primary);
	font-size: 8rem;
	letter-spacing: 1rem;
	font-weight: 600;
}

hr {
	margin-top: 0.2rem;
	border: 2px solid var(--primary-color);
	width: 10rem;
	height: 1px;
}

.summary {
	top: 50%;
}

.subtitle {
	font-weight: 200;
	letter-spacing: 0.5px;
	margin: 20px auto;
	font-size: 2rem;
	padding-right: 80px;
}

.summary-info {
	font-weight: 200;
	font-size: 1rem;
	max-width: 500px;
	padding-right: 80px;
}

.link-text {
	margin-top: 3rem;
	font-size: 1.7rem;
}

.link-text a {
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
}

.link-text a:hover,
.link-text a:hover svg {
	color: #ffdc9f;
	fill: #ffdc9f;
}

.link-text a svg {
	fill: var(--primary-color);
	vertical-align: middle;
	display: inline-block;
}

.summary-info {
	line-height: 2rem;
}

#image {
	width: 100vw;
	opacity: 0.7;
}

/* zone 2 */

#tribute-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--background-secondary);
	justify-content: center;
	align-items: start;
	justify-items: center;
}

.grid1,
.grid2 {
	width: 60%;
	padding: 50px 0;
}

/*grid 1*/

.grid1-title {
	color: var(--primary-color);
	font-size: 3rem;
	line-height: 4.3rem;
}

.sub {
	color: var(--text-primary);
}

.grid1-subtitle,
.grid1-text {
	color: var(--text-secondary);
}

.grid1-subtitle {
	font-size: 2rem;
	font-weight: 300;
	margin-top: 40px;
}

.grid1-text,
.bio-text {
	font-weight: 200;
	margin-top: 20px;
	font-size: 1.3rem;
	letter-spacing: 0.03rem;
	line-height: 1.5rem;
}

/*grid 2*/

.grid2-subtitle {
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 40px;
}

.bio-info,
.info {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.info span {
	text-align: center;
}

.info .data {
	color: var(--primary-color);
	font-size: 2rem;
	font-weight: bold;
	margin-right: 15px;
}

.info span p:not(.data) {
	font-size: 1.3rem;
	font-weight: 100;
}

/* media */

@media only screen and (max-width: 941px) {
	#title {
		font-size: 4rem;
		letter-spacing: 0.8rem;
	}
	.subtitle {
		font-size: 1.2rem;
	}
	.summary-info {
		font-size: 0.8rem;
	}
	.link-text {
		font-size: 1.4rem;
	}

	#tribute-info {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 787px) {
	.summary-info {
		display: none;
	}
}

@media only screen and (max-width: 554px) {
	.under-title {
		font-size: 2rem;
	}
	#title {
		font-size: 3rem;
		letter-spacing: 0.8rem;
	}
	.subtitle {
		font-size: 1rem;
	}
	.link-text {
		font-size: 1.4rem;
	}
	.bio-info {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

@media only screen and (max-width: 435px) {
	.under-title {
		font-size: 1.6rem;
	}
	#title {
		font-size: 2.2rem;
		letter-spacing: 0.8rem;
	}
	hr {
		border: 1px solid var(--primary-color);
	}
	.subtitle {
		display: none;
	}
	.link-text {
		font-size: 1rem;
	}
}
